@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;700&family=Gloria+Hallelujah&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Baloo Bhaijaan 2', cursive;
}

body{
   min-height: 100vh;
   background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,152,155,1) 0.1%, rgba(0,94,120,1) 94.2% );
}
h1{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   font-family: 'Gloria Hallelujah', cursive;
   padding: 20px 0;
   color: white;
   font-size: 5rem;
   text-shadow: 3px 3px 8px black;
   text-align: center;
}